* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5vw;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.01rem;
}

h2 {
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.1;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
}

a:link,
a:visited {
  text-decoration: none;
  font-family: "Poppins";
}

/*? Start */

.container {
  background-image: url(/src/img/banner-MCast.svg);
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  /* display: flex;
  flex-flow: column; */
  /* gap: 1.5rem; */
  color: white;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5rem;
  background-color: rgb(31, 31, 44);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  & .logo {
    cursor: pointer;
    width: 4.5vw;
  }

  & ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 6rem;
    & li {
      display: inline-block;
      margin: 1% 2%;
      & a {
        font-size: 1.3vw;
        color: white;
        text-decoration: none;
        font-weight: 600;
        position: relative;
        &:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #ffc107;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }
      }
    }
  }
}

.conteudo {
  max-width: 48vw;
  padding-left: 2.7vw;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  margin-top: 8%;
}

.botao-main {
  width: 20vw;
  background-color: transparent;
  color: white;
  font-weight: 500;
  font-size: 1.5vw;
  border: solid 2px #ffc61a;
  border-radius: 3rem;
  padding: 0.8rem;
  margin-top: 1rem;
  font-family: "Hind Madurai";
  cursor: pointer;
  transition-timing-function: ease-out;
  transition: 150ms;
  transform: translateX(0);
  transition-property: background-color, color, transform;

  &:hover {
    background-color: #ffc61a;
    color: black;
    transform: translateX(5px);
  }
}

/*! seção podcast */

audio {
  width: 30%;
  &::-webkit-media-controls-mute-button {
    background-color: #ffc107f3;
    border-radius: 50%;
  }
  &::-webkit-media-controls-play-button {
    background-color: #ffc107f3;
    border-radius: 50%;
  }
  &::-webkit-media-controls-panel {
    background-color: #1f1f2c;
  }
  &::-webkit-media-controls-current-time-display {
    color: #ffc107;
  }
  &::-webkit-media-controls-time-remaining-display {
    color: #ffc107c4;
  }
  &::-webkit-media-controls-timeline {
    background-color: #ffc107;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

/*  
.podcast {
  background-color: #ffc61a;
  height: 30rem;
} 
*/
